@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web


@*
    This snippet displays a list of links of the pages immediately under the top-most page in the content tree.
    This is the home page for a standard website.
    It also highlights the current active page/section in the navigation with the CSS class "current".
*@

@{ var root = Model.Content.Site(); }
@{ var selection = root.Children.Where(x => x.IsVisible()).ToArray(); }
@{ IQueryable projectDropdown = Model.Content.AncestorOrSelf(1).
                                Children.Where(x => x.DocumentTypeAlias == "projectsOverview").
                                First().Children.Where("Visible").OrderBy("Name"); }
@{ IQueryable articleDropdown = Model.Content.AncestorOrSelf(1).
                                Children.Where(x => x.DocumentTypeAlias == "articleOverview").
                                First().Children.Where("Visible").OrderBy("Name"); }
                                
@if (selection.Length > 0){
<nav class="navbar navbar-expand-lg navbar-light bg-light">
             <a class="navbar-brand" href="@root.Url">@root.Name</a>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="nav navbar-nav">
        @foreach (var item in selection){
                if(item.Id == 1078){
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown" href="@item.Url" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >@item.Name</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    @foreach(IPublishedContent page in articleDropdown){
                        <a class="dropdown-item" href="@page.Url">@page.Name</a>
                    }
                </div>
                </li>
                }else if(item.Id == 1082){
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown" href="@item.Url" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >@item.Name</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    @foreach(IPublishedContent page in projectDropdown){
                        var isProtected= umbraco.library.IsProtected(page.Id, page.Path); 
                        var loginAccess= umbraco.library.IsProtected(page.Id, page.Path) && 
                            umbraco.library.HasAccess(page.Id, page.Path);
                        if(!isProtected || loginAccess){
                        <a class="dropdown-item" href="@page.Url">@page.Name</a>
                        }   
                    }
                </div>
                </li>
            } else{
                <a class="nav-link" href="@item.Url">@item.Name</a>
            }   
        }
       </ul>
       </div>
</nav>
}