@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Umbraco.Web.Models
@using Umbraco.Web.Controllers

@{
    var loginModel = new LoginModel();
    
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJs("/umbraco_client/ui/jquery.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.min.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.unobtrusive.min.js");
}

@* NOTE: This RenderJsHere code should be put on your main template page where the rest of your script tags are placed *@
@Html.RenderJsHere()

@using (Html.BeginUmbracoForm<UmbLoginController>("HandleLogin"))
{

    if(!Members.GetCurrentLoginStatus().IsLoggedIn){
<fieldset>
    <div class ="col-sm-8">
        <legend>Login</legend>
        
        @Html.ValidationSummary("loginModel", true)
        <div class ="col-sm-8">
        @Html.LabelFor(m => loginModel.Username) 
        @Html.TextBoxFor(m => loginModel.Username)
        </div>
        @Html.ValidationMessageFor(m => loginModel.Username)
       
        <div class ="col-sm-2">
        @Html.LabelFor(m => loginModel.Password)
        </div>
        <div class ="col-sm-8">
        @Html.PasswordFor(m => loginModel.Password)
        </div>
        @Html.ValidationMessageFor(m => loginModel.Password)
        
        <div class="sm-col-2">
            <button>Login</button>
        </div>
    </div>
</fieldset>  
    }else{
        <p class ="col-sm-8">You are currently logged in as 
        @Members.GetCurrentLoginStatus().Name</p>
        
        var logoutModel= new PostRedirectModel();
        logoutModel.RedirectUrl= "/";
        
        using(Html.BeginUmbracoForm<UmbLoginStatusController>("HandleLogout")) {
        <button>Logout</button>@Html.HiddenFor(m => logoutModel.RedirectUrl)
        }
    }
}